div.modal.fade id="manage-label-modal" tabindex="-1" role="dialog" aria-labelledby="manage-label-modal-title" aria-hidden=true
    div.modal-dialog role="document"
        div.modal-content
            = form_with(url: update_labels_app_group_path, method: 'patch', local: true, id: 'update-labels')
            div.modal-header
                h5.modal-title#manage-label-modal-title
                    = "Manage Labels #{app_group}"
                button.close data-dismiss="modal" aria-label="close" type="button"
                    span aria-hidden=true
                        | &times;
            div.modal-body
                table.table
                  thead
                    tr
                      th[scope="col"]
                        | Key
                      th[scope="col"]
                        | Value
                      th[scope="col"]
                        | Actions
                  tbody#label-body
            div.modal-footer
                button#remove-all-labels.btn.btn-danger type="button"
                    | remove all labels
                button#add-label.btn.btn-success type="button" 
                    | add label
                button#submit-label.btn.btn-primary type="submit"
                    | update

javascript:
    const labels = #{labels.to_json.html_safe}

    const removeAllLabels = () => {
        const rows = $(`tbody#label-body tr[data-idx]`)
        for (let row of rows) {
            row.remove()
        }
    }

    const removeLabel = idx => {
        let row = $(`tbody#label-body tr[data-idx="${idx}"]`)
        if (row.length < 1) {
            console.log(`rows with label ${idx} not found`)
        }

        row[0].remove()
    }

    const addLabel = (key, val, idx) => {
        let tbody = $('tbody#label-body')
        let lastIdx = idx || Number($(tbody.children().last()).attr('data-idx'))+1
        let lastKey = key || ""
        let lastVal = val || ""
        tbody.append(`<tr data-idx="${lastIdx}">
            <td>
                <input class="form-control" name=keys[] value="${lastKey}">
            </td>
            <td>
                <input class="form-control" name=values[] value="${lastVal}">
            </td>
            <td>
                <button class="btn btn-sm btn-danger" data-idx="${lastIdx}" id="remove-label" type="button">
                    <i class="far fa-trash-alt"></i>
                </button>
            </td>
        </tr>`)
    }

    const getIdFromClickedButton = event => {
        return event.currentTarget.id
    }

    const getRowNumberFromClickedButton = event => {
        return $(event.currentTarget).attr('data-idx')
    }

    const onModalButtonClicked = event => {
        const buttonId = getIdFromClickedButton(event)
        switch(buttonId) {
            case "remove-all-labels":
                removeAllLabels()
                break
            case "remove-label":
                const idx = getRowNumberFromClickedButton(event)
                removeLabel(idx)
                break
            case "add-label":
                addLabel()
                break
        }
    }

    const removeAppNameField = () => {
        $(`input[name="app_name"]`).remove()
    }

    const resetModalFields = () => {
        removeAllLabels()
        removeAppNameField()
    }

    const getApplicationNameFromClickedButton = event => {
        return $(event.relatedTarget).attr('data-app-name') 
    }
    const isManageAppGroupLabelsEvent = event => {
        return getApplicationNameFromClickedButton(event) === undefined
    }

    const modifyTitle = text => {
        $('#manage-label-modal-title').text(text)
    }

    const modifyModalForManageApplicationLabels = event => {
        let appName = getApplicationNameFromClickedButton(event)

        // change the title
        modifyTitle(`Manage Labels #{app_group}: ${appName}`)

        // add app_name field
        $('tbody#label-body').append(`<input type="hidden" name="app_name" value="${appName}">`)

        return appName
    }

    const showCurrentLabels = labels => {
        Object.keys(labels).map((key, idx) => addLabel(key, labels[key], idx+1))
    }

    const onModalOpen = event => {
        resetModalFields()

        let shownLabel = []
        if (isManageAppGroupLabelsEvent(event)) {
            modifyTitle(`Manage Labels #{app_group}`)
            shownLabel = labels['app-group']
        } else {
            let appName = modifyModalForManageApplicationLabels(event)
            shownLabel = labels[appName]
        }

        showCurrentLabels(shownLabel)
    }

    // triggered when the modal is opened

    $('body').on('click', '#manage-label-modal button.btn', onModalButtonClicked)
    $('#manage-label-modal').on('show.bs.modal', onModalOpen)
