<html>
<head>
  <title>TestCasIntegration</title>
</head>
<body>
<!--<p class="notice"><%= notice %></p>-->
<p class="notice"> Welcome <%= @current_user.email %> </p>
<button type="button">
  <a <%= link_to "Sign Out", destroy_test_session_path, method: :delete %></a>
  <span class="icon-bar"></span>
</button>
</body>
</html>
