<% unless user_signed_in? -%>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
<% else %>
  <p><%= link_to 'Sign out', destroy_user_session_path %></p>
<% end -%>

<p class="notice"> Welcome <%= @current_user.email %> </p>
