DB_USER:                     'postgres'
DB_HOST:                     'localhost'
DB_PASSWORD:                 ''
DB_POOL:                     '5'
DB_TIMEOUT:                  '5000'
ENABLE_CAS_INTEGRATION:      'false'
CAS_BASE_URL:                'http://localhost:3001'
PROVISION_AVAILABLE_INSTANCES:    'yggdrasil,consul,zookeeper,kafka,elasticsearch,barito-flow-producer,barito-flow-consumer,kibana'
APP_GROUPS:                  'barito'
RECEIVER_END_POINT:          'http://dummy.end-point/'
TIMESTAMP_FORMAT:            '%d-%m-%Y %H:%M'
SAURON_HOST:                 '127.0.0.1:3000'
CONTAINER_HOST:              '127.0.0.1'
CONTAINER_HOST_NAME:         'barito'
CONTAINER_PRIVATE_KEY:       'barito'
CONTAINER_USERNAME:          'ubuntu'

development:
  RAILS_ENV:                 'development'
  RACK_ENV:                  'development'
  DB_NAME:                   'barito_development'
  ENABLE_CAS_INTEGRATION:    'false'

test:
  RAILS_ENV:                 'test'
  RACK_ENV:                  'test'
  DB_NAME:                   'barito_test'
