DB_USER:                     'postgres'
DB_HOST:                     'localhost'
DB_PASSWORD:                 ''
DB_POOL:                     '5'
DB_TIMEOUT:                  '5000'
ENABLE_CAS_INTEGRATION:      'false'
CAS_BASE_URL:                'http://localhost:3001'
GATE_URL:                    'http://localhost:3005'
PROVISION_AVAILABLE_INSTANCES:    'yggdrasil,consul,zookeeper,kafka,elasticsearch,barito-flow-producer,barito-flow-consumer,kibana'
MARKET_END_POINT:            'http://market.barito.local/'
ROUTER_PROTOCOL:             'http'
ROUTER_DOMAIN:               'router.barito.local'
VIEWER_PROTOCOL:             'http'
VIEWER_DOMAIN:               'viewer.barito.local'
TIMESTAMP_FORMAT:            '%d-%m-%Y %H:%M'
PATHFINDER_HOST:             '127.0.0.1:3000'
PATHFINDER_CLUSTER:          'barito'
PATHFINDER_IMAGE:            '18.04'
PATHFINDER_TOKEN:            ''
CONTAINER_PRIVATE_KEYS_DIR:  '/opt/BaritoMarket/config/private_keys'
CONTAINER_PRIVATE_KEY:       'barito'
CONTAINER_USERNAME:          'ubuntu'
CHEF_REPO_DIR:               '/opt/chef-repo'
DEFAULT_CONSUL_PORT:         '8500'
GATE_ACCESS_TOKEN:           'securerandomstring'
DATADOG_API_KEY:             'datadogapikey'
DATADOG_INTEGRATION:         'false'
REDIS_CACHE_HOST:            'localhost:6379'
REDIS_CACHE_DB:              '1'
DEFAULT_APP_MAX_TPS:         '20'
DEFAULT_LOG_RETENTION_DAYS:  '30'
ES_CURATOR_CLIENT_KEY:       'abcd1234'
GLOBAL_VIEWER:               'false'
GLOBAL_VIEWER_ROLE:          'global-viewer'
REDIS_KEY_EXPIRY:            '10'
DEFAULT_PER_PAGE:            '30'
DATADOG_HOST:                'localhost'
DATADOG_PORT:                '8125'
JAEGER_SERVICE_NAME:         'barito_market'
JAEGER_AGENT_HOST:                 'localhost'
JAEGER_AGENT_PORT:                 '6831'
JAEGER_SAMPLING_HOST:        'localhost'
JAEGER_SAMPLING_PORT:        '6831'

development:
  RAILS_ENV:                 'development'
  RACK_ENV:                  'development'
  DB_NAME:                   'barito_development'
  ENABLE_CAS_INTEGRATION:    'false'

test:
  RAILS_ENV:                 'test'
  RACK_ENV:                  'test'
  DB_NAME:                   'barito_test'
