development:
  kafka:
    chef_repo: 'https://github.com/kafka/cookbooks'
    run_list: 'kafka'
  zookeeper:
    chef_repo: 'https://github.com/zookeeper/cookbooks'
    run_list: 'zookeeper'
  consul:
    chef_repo: 'https://github.com/consul/cookbooks'
    run_list: 'consul'
  yggdrasil:
    chef_repo: 'https://github.com/yggdrasil/cookbooks'
    run_list: 'yggdrasil'
  barito-flow-receiver:
    chef_repo: 'https://github.com/barito-flow-receiver/cookbooks'
    run_list: 'barito-flow-receiver'
  barito-flow-forwarder:
    chef_repo: 'https://github.com/barito-flow-forwarder/cookbooks'
    run_list: 'barito-flow-forwarder'
  elasticsearch:
    chef_repo: 'https://github.com/elasticsearch/cookbooks'
    run_list: 'elasticsearch'
  kibana:
    chef_repo: 'https://github.com/kibana/cookbooks'
    run_list: 'kibana'