# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  host: localhost
  database: barito_development
  username: postgres
  password:

test:
  <<: *default
  host: localhost
  database: barito_test
  username: postgres
  password:

production:
  <<: *default
  host: localhost
  database: barito_production
  username: postgres
  password:
