development:
  small:
    name: 'Small'
    tps_limit: 100
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 1
    kafka_instances: 1
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

  medium:
    name: 'Medium'
    tps_limit: 500
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 3
    kafka_instances: 3
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

  large:
    name: 'Large'
    tps_limit: 1000
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 3
    kafka_instances: 3
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

staging:
  small:
    name: 'Small'
    tps_limit: 100
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 1
    kafka_instances: 1
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

  medium:
    name: 'Medium'
    tps_limit: 500
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 3
    kafka_instances: 3
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

  large:
    name: 'Large'
    tps_limit: 1000
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 3
    kafka_instances: 3
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

production:
  small:
    name: 'Small'
    tps_limit: 100
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 1
    kafka_instances: 1
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

  medium:
    name: 'Medium'
    tps_limit: 500
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 3
    kafka_instances: 3
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1

  large:
    name: 'Large'
    tps_limit: 1000
    yggdrasil_instances: 1
    consul_instances: 1
    barito-flow-producer_instances: 1
    zookeeper_instances: 3
    kafka_instances: 3
    barito-flow-consumer_instances: 1
    elasticsearch_instances: 1
    kibana_instances: 1
