.container {
	margin: 2vw auto;
	width: 75vw;
}

.textfield {
	width: 30vw;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr 3fr;
	grid-row-gap: 1px;
}

.toggleSwitch {
	margin: auto 0px;
}

.loader {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
