<center>
<br/>
<br/>
<br/>
<h3>Single Sign-On</h3>
<br />
<a class="btn btn-primary" href="<%= user_google_oauth2_omniauth_authorize_path %>">
	<i class="fab fa-google mr-1" aria-hidden="true"></i> Sign in with Google
</a>
</center>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
