/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$kibana-text-size: 12px;
$kibana-padding-x: 10px;
$kibana-padding-y: 4px;
$kibana-back-color: #808080;
$kibana-fore-color: white;

.kibana-link{
  font-size: $kibana-text-size;
  padding-top: $kibana-padding-y;
  padding-bottom: $kibana-padding-y;
  padding-right: $kibana-padding-x;
  padding-left: $kibana-padding-x + $kibana-padding-y + $kibana-text-size;
  border-radius: $kibana-padding-y;  
  background:url('../assets/kibana.png');
  background-color: $kibana-back-color;
  background-repeat: no-repeat;
  background-position: $kibana-padding-x center; 
  background-size: $kibana-text-size;
  color: $kibana-fore-color; 
}
