.vertical-height {
    min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
}

.search-app{
  background-color: white;
  padding: 6px 15px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  
  .search-box{
    border: 0;
    outline: none;
  }
  .fa-search{
    color: #606060;
  }
}
