.vertical-height {
    min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
}

.search-app{
  background-color: white;
  padding: 6px 15px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  
  .search-box{
    border: 0;
    outline: none;
  }
  .fa-search{
    color: #606060;
  }
}

$wizard-line: #505050;
$wizard-progress: white;
$wizard-progress-active: #606060;
$wizard-ptr-fore: #505050;
$wizard-ptr-fore-active: white;
$wizard-ptr-back: #D8D8D8;
$wizard-ptr-back-active: #606060;

.wizard{
  display: table;
  width: 100%;
  height: 40px;
  
  
  .step{
    display: table-cell;
    
    .ptr{
      display: inline;
      position: relative;
      left: -3px;
      top: 6px;
      background-color: $wizard-ptr-back;
      border:1px solid $wizard-line;
      color: $wizard-ptr-fore;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      padding: 4px 10px;  
      font-size: 15px;
    }
    
    .label{
      // position: relative;
      display: inline;
      padding: 0;
      margin: 0 0 0 3px;
      font-size: 0.75em;
      color: #505050;
    }
    
    .progress{
      border-top: thin solid $wizard-line;
      border-bottom: thin solid $wizard-line;
      border-right: thin solid $wizard-line;
      background-color: $wizard-progress;
      margin-top: -2px;
      height: 5px;
      width: 100%;
    }
  }
  
  .active{
    .ptr{
      background-color: $wizard-ptr-back-active;
      color: $wizard-ptr-fore-active;
    }
    
    .progress{
      background-color: $wizard-progress-active;
    }
  }
}
