h2
  | Databag#
  = @databag.id
p#notice
  = notice
.show-group
  h3
    | General
  p
    strong
      | id:
    = @databag.id
  p
    strong
      | IP Address:
    = @databag.ip_address
  p
    strong
      | Tags:
    = @databag.tags
  p
    strong
      | Config json:
  pre[style="overflow-x:scroll;"]
    = JSON.unparse(@databag.data)
= link_to 'Edit', edit_databag_path(@databag)
|  | 
= link_to 'Back', databags_path, class: 'w3-button w3-light-grey'
